* {
    font-family: Adobe Source Code Pro;
    font-size: 15px;
    font-weight: 500;
    color: white;
}

window#waybar {
    background-color: transparent;
}

.modules-right,
.modules-left,
.modules-center {
    padding: 2px 16px;
}

#workspaces button {
    padding: 2px;
}

#battery,
#network,
#language {
    padding: 0 10px;
}

#battery.critical:not(.charging) {
    color: #8F5656;
}

l #custom-screen-recorder {
    color: #FF3B30;
}