* {
    font-family: Adobe Source Code Pro;
    font-size: 15px;
    font-weight: 500;
    color: white;
}

window#waybar {
    background-color: transparent;
}

.modules-right,
.modules-left,
.modules-center {
    padding: 2px 16px;
}

#workspaces button {
    padding: 2px;
}

#battery,
#network,
#language {
    padding: 0 10px;
}

#battery.critical:not(.charging) {
    color: #8F5656;
}

#custom-screen-recorder {
    color: #FF3B30;
}

#custom-vpn.disconnected {
    color: rgba(255, 255, 255, 0.3);
}

#custom-cpu.warning {
    color: #f38ba8;
}

#memory.warning {
    color: #f38ba8;
}

tooltip {
    background: rgba(80, 80, 80, 0.95);
}